<section class="content-header"></section>

<section class="content">
    <section class="invoice">
        <form #form = "ngForm" novalidate>
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
                    </h2>
                </div>
            </div>

            <div class="row invoice-info">
                <div class="col-xs-12">
                    <p class="lead">Endereço de Entrega:</p>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <mt-input-container label="Endereço" errorMsg="Campo obrigatório e no mínimo 5 caracteres.">
                        <input ngModel
                            class="form-control"
                            name="address"
                            placeholder="Endereço"
                            autocomplete="off"
                            minlength="5"
                            required/>
                    </mt-input-container>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <mt-input-container label="Número" errorMsg="Campo obrigatório e somente números.">
                        <input ngModel
                            class="form-control"
                            name="number"
                            placeholder="Número"
                            pattern="^[0-9]*$"
                            autocomplete="off"
                            required/>
                    </mt-input-container>

                </div>
                <div class="col-sm-3 col-xs-6">
                    <mt-input-container>
                        <input ngModel
                            type="text"
                            class="form-control"
                            name="optionalAddress"
                            placeholder="Complemento"/>
                    </mt-input-container>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12">
                    <p class="lead">Itens do Pedido:</p>
                </div>
                <mt-order-items [items]="cartItems()"
                    (increaseQty)="increaseQty($event)"
                    (decreaseQty)="decreaseQty($event)"
                    (remove)="remove($event)"></mt-order-items>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <!-- accepted payments column -->
                <div class="col-sm-6 col-xs-12">
                    <p class="lead">Formas de Pagamento:</p>

                    <div class="form-group">
                        <mt-radio ngModel name="paymentOptions" [radioOptions]="paymentOptions" required></mt-radio>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-sm-6 col-xs-12">
                    <p class="lead">Frete e Total:</p>

                    <mt-delivery-costs
                        [delivery]="delivery"
                        [itemsValue]="itemsValue()">
                    </mt-delivery-costs>

                </div>
                <!-- /.col -->
            </div>
        </form>

        <div class="row">
            <div class="col-xs-12">
                <button (click)="checkOrder(form.value)"
                    class="btn btn-success pull-right"
                    [disabled]="form.invalid || cartItems().length === 0">
                    <i class="fa fa-credit-card"></i> Concluir Pedido
                </button>


            </div>
        </div>
    </section>
</section>
